﻿<div class="content">
<h2><div class="newssub">Всеобщие правила</div><div class="permalink">&nbsp;</div></h2>
На данном чане запрещены и караются баном следующие вещи:
<ol>
<li>Вайпы;</li>
<li>ЦП (даже в виде полуодетых детей в эротических позах, а также сёта/лоликон).;</li>
<li>Шок-контент (расчленёнка, голые негры, дохлокоты и т.д.);</li>
<li>Призывы к рейдам на реальных людей и раскрытие личных данных;</li>
<li>Троллинг в особо крупных размерах;</li>
<li>Разжигание межчановской розни и холиворов.</li>
<li>Размещение спама с целью получения коммерческой или иной материальной выгоды.</li><!--/b/29946 -->
</ol>

Администрация оставляет за собой право принимать любые решения на своё усмотрение в случаях, признанных оной спорными.<br><br>
Если же пользователь считает, что Администрация совершила в его отношении некие действия, выходящие за рамки, предусмотренные правилами, то он может подать апелляцию.
Тем не менее, баны меньше чем на трое суток как таковые обжалованию не подлежат.<br><br>
Пользователям должно быть более 18 лет от роду, ибо определённого рода контент, размещённый на сайте, не рекомендуется для просмотра несовершеннолетними лицами.
</div>
